<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>Count Repeats</h1>
      <div class="row">
        <form action="/results" method="get">
          <div class="col-sm-6">
            <label for="string">Enter a sentence: </label>
            <input name="string" type="text">
          </div>
          <div class="col-sm-6">
            <label for="word">Enter a word: </label>
            <input name="word" type="text">
          </div>
          <button type="submit">Submit</button>
        </form>

    </div>
  </body>
</html>
