<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1>Count Repeats</h1>
      <h3>Results:</h3>
      <p>The word '{{ word }}' in '{{ string }}' appears {{ result }} time(s).</p>

    </div>
  </body>
</html>
